<!-- Header -->
<header class="masthead" style="height: 100px;">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <br><br><br><br>
      <h1 class="animated fadeInDownBig" style="font-size: 3em;">Give Online</h1>
      <p>
      <h1 style="font-size: 1.5em;">BE A PART OF LIVES BEING TRANSFORMED</h1>
    </div>
  </div>
</header>

<!-- Give Section -->
<section id="give" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-5 col-lg-5">
          <h1 style="font-size: 5em;">YOUR GENEROSITY MAKES A DIFFERENCE</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            The mission and vision of Voice of Heaven are directly funded by the generosity of people like you. We exist so that all people can find new life in Christ and we would love for you to join us in that mission. We honor your gifts with faithful stewardship, ethical business practices, and accountability so that you have full confidence in the financial integrity of Voice of Heaven. All donations to Voice of Heaven are 100% tax deductible.
          </h2>
        
      </div>
      <div class="col-xl-7 col-lg-7">
        <div class="featured-text text-center text-lg-left">
          <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/voiceofheaven" style="max-width: 500px; min-width: 310px; max-height:none!important" width="100%"></iframe>
      </div>
        </div>
    </div>
</section>