<!-- Header -->
<header class="masthead" style="height: 100px;">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="animated fadeInDownBig mx-auto my-0">VOICE Ministry</h1>
      <p>
      <h1 style="font-size: 2em;">BELIEVE SPEAK ACT</h1>
    </div>
  </div>
</header>

<!-- Voicing Section -->
<section id="Voicing" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="https://blackrockdigital.github.io/startbootstrap-grayscale/img/demo-image-01.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="font-size: 5em;">Voicing</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Verse Here. <p>
            Details Here.
          </h2>
        </div>
      </div>
    </div>
</section>

<!-- Overcoming Section -->
<section id="Overcoming" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="https://blackrockdigital.github.io/startbootstrap-grayscale/img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="font-size: 5em;">Overcoming</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Verse Here. <p>
            Details Here.
          </h2>
        </div>
      </div>
    </div>
</section>

<!-- Indwelling Section -->
<section id="Indwelling" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="https://blackrockdigital.github.io/startbootstrap-grayscale/img/demo-image-01.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="font-size: 5em;">Indwelling</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Verse Here. <p>
            Details Here.
          </h2>
        </div>
      </div>
    </div>
</section>

<!-- Conquering Section -->
<section id="Conquering" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="https://blackrockdigital.github.io/startbootstrap-grayscale/img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="font-size: 5em;">Conquering</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Verse Here. <p>
            Details Here.
          </h2>
        </div>
      </div>
    </div>
</section>

<!-- Empowering Section -->
<section id="Empowering" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="https://blackrockdigital.github.io/startbootstrap-grayscale/img/demo-image-01.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="font-size: 5em;">Empowering</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Verse Here. <p>
            Details Here.
          </h2>
        </div>
      </div>
    </div>
</section>