<!-- Header -->
<header class="masthead" style="height: 100px;">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <br><br><br><br>
      <h1 class="animated fadeInDownBig" style="font-size: 3em;">ABOUT</h1>
      <p>
      <h1 style="font-size: 1.5em;">WE DO THE WORD AND GOD DOES THE WORK</h1>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-6 col-lg-7">
        <%= image_tag("VoiceOfHeavenLogo.JPG", {:class => "img-fluid mb-3 mb-lg-0", :style => "height:500px;width:500px;"}) %>
      </div>
      <div class="col-xl-6 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="color: #62c6bb; font-size: 5em;">VOICE OF HEAVEN</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Voice of Heaven starts with a revelation and a dream. The revelation is about our True Identity in Christ: we are sons and heirs of God through Christ and the faith of Him, which bestowed to us by His grace when we were born again, empowers us to walk in the fullness of the power of God and the mind of Christ to manifest as sons of God to exert dominion, destroy the works of Devil and as Jesus said: "he that believeth on me, the works that I do shall he do also; and greater works than these shall he do; because I go unto my Father."; The dream is about my surname, written in Chinese as "吴", containing two blocks: the top one "口" literally means "mouth" and the bottom one "天" literally means "heaven or sky", so when God tells me in my dream to check out my surname, I know for sure that the ministry shall be called "Voice of Heaven"!
          </h2> 
        </div>
      </div>
    </div>
</section>