<!-- Header -->
<header class="masthead" style="height: 100px;">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <br><br><br><br>
      <h1 class="animated fadeInDownBig" style="font-size: 3em;">ABOUT</h1>
      <p>
      <h1 style="font-size: 1.5em;">WE DO THE WORD AND GOD DOES THE WORK</h1>
    </div>
  </div>
</header>


<!-- About Section -->
<section id="about" class="projects-section bg-light">
  <div class="container">
  <div class="grid">
      <figure class="effect-layla">
          <%= image_tag("VoiceOfHeavenLogo.JPG", {:class => "img-fluid mb-3 mb-lg-0", :style => "height:470px;width:500px;"}) %>
          <figcaption>
              <h2>Voice <span>of <span>Heaven</span></h2>
              <h3>When Voice of Heaven comes, it brings the divine perspective!</h3>
              <a href="#">View more</a>
          </figcaption>           
      </figure>
      <figure class="effect-layla">
        <div class="featured-text text-center text-lg-left">
          <h1 style="color: #62c6bb; font-size: 5em;">VOICE OF HEAVEN</h1>
          <h3 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Voice of Heaven starts with a revelation and a dream. The revelation is about our True Identity in Christ: we are sons and heirs of God through Christ and the faith of Him, which bestowed to us by His grace when we were born again, empowers us to walk in the fullness of the power of God and the mind of Christ to manifest as sons of God to exert dominion and destroy the works of Devil; The dream is about my surname, written in Chinese as "吴", containing two blocks: the top one "口" literally means "mouth" and the bottom one "天" literally means "heaven or sky", so when God tells me in my dream to check out my surname, I know for sure that the ministry shall be called "Voice of Heaven"!
          </h3> 
        </div>        
      </figure>
  </div>
    </div>
</section>