<!-- Header -->
<header class="masthead" style="height: 100px;">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <br><br><br><br>
      <h1 class="animated fadeInDownBig" style="font-size: 3em;">WATCH ONLINE</h1>
      <p>
      <h1 style="font-size: 1.5em;">WE DO THE WORD AND GOD DOES THE WORK</h1>
    </div>
  </div>
</header>

<!-- Recent Message Section -->
<section id="RecentMessage" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-6 col-lg-7">
        <iframe width="360" height="315" src="https://www.youtube.com/embed/GWwRaHF-nxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-xl-6 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="color: #62c6bb; font-size: 5em;">RECENT MESSAGE</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            Rediscover your favorite messages in the archive. You can watch or listen to messages on your own schedule and easily share with friends!
          </h2>
          <a href="https://www.youtube.com/playlist?list=PLwuMb6Dl2ytOsAPhJmCYOkGIOzbHQi3Iq" target="_blank">
            <button type="button" class="btn btn-primary">WATCH NOW</button>
          </a>
        </div>
      </div>
    </div>
</section>

<!-- Watch Live Section -->
<section id="WatchLive" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-6 col-lg-7">
        <iframe width="360" height="315" src="https://www.youtube.com/embed/GWwRaHF-nxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-xl-6 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h1 style="color: #62c6bb; font-size: 5em;">WATCH LIVE</h1>
          <p>
          <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">
            You can now be a part of Voice of Heaven ministry through the streaming live no matter where you are!<p>
            Be sure to subscribe!
          </h2>
          <a href="https://www.youtube.com/playlist?list=PLwuMb6Dl2ytMh9PP7zWARy0NfFQwq5LOb" target="_blank">
            <button type="button" class="btn btn-primary">WATCH NOW</button>
          </a>
        </div>
      </div>
    </div>
</section>
